*
{
    white-space: nowrap;
}

.menuCard
{
  margin-left: 20%;
  background-color: transparent*;
  display: flex;

}
.menuItem
{
  background-color: transparent;
  margin: 2px;
  font-size: 25px;
  text-align: left;
}
.submenuOption
{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
#colorizeInput
{
  width: 20px;
  height: 20px;
  border: 0;
}
.submenuItem button
{
  width: 20px;
  height: 20px;
}
ul
{
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
.boxInput
{
  top: -9px;
}

/*--------*/

.hide , .info
{
  background-color: transparent;
  outline: 0;
  border: solid black;
  border-radius: 10%;
  margin: 10px;
  font-size: 20px;
}
.searchBar
{
  background-color: transparent;

  width: 150px;
  height: 30px;
  margin: 10px;
  border : rgb(5, 5,5 ,0.8) solid 1px;
  font-size: 20px;
  text-align: center;
}

.searchButton
{
  width: 5px;
  height: 10px;
  position: relative;
  left: -10px;
}

#data{
  text-align: left; font-size: 22px;
  margin-left: 20px;
  margin-bottom: 8px;
}