.cloudArea
{
    position: relative;
    background-color:rgb(131, 255, 255);
    margin: 0;
    height: 200px;
    width: 800px;
}
.cloud
{
    position : absolute;
    width: 150px;
    height: 20px;
    border-radius: 50%;
   filter: blur(12px) brightness(80%);
    opacity: 100%;
    background-image: 
    linear-gradient(white,white, lightgrey,rgb(201, 201, 201),rgb(53, 53, 53));

   /* transition-property: left, right;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;*/
    transition: transform 1s linear;
}



/* tree and spawn location styles */



.tree
{   
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 100px solid #60912f;
    bottom: 0;
    left: 3%;
    transition: transform 1s linear;
    transform-origin: bottom;



}



.spawnLocation
{
    position: absolute;
    /*background-color:rgb(148, 156, 77);*/

  
    width: 500px;
    height: 70px;
    bottom: 0px;
    background-image: url("/ground.png");
    filter: hue-rotate(202deg);
    
}



#_1
{
    width: 500px;
    position : absolute;
    height: 30px;
    background-color:/* rgba(255, 127, 80, 0.568)*/ transparent;
    text-align: center;
    bottom: 25px;
} 

#scene
{
    position: absolute;
    background-color: rgb(143, 231, 253);
    width: 500px;
    height: 500px;
    left: 100px;
}